

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*{
    background-color:black;
    color: white;
    font-family: 'Lora', serif;
}
h1{
    font-family: 'Lora', serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 10px;
    text-decoration-color: darkblue;
    font-weight: 400;
    color:#C0C0C0	;
} 
#form{
    
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: center;
    margin: auto;
    margin-top:60px;
}
#guessfeild{
   
    box-shadow: 0px 0px 8px 1px white;
}
#subt{
    width: 80px;
    border:1px solid white;
    color:black;
    background-color: #39B5E0;
    box-shadow: 0px 0px 10px aqua;
    
}
.resultparas{
    border: 1px solid black;
    width: 300px;
    margin:auto ;
    margin-top: 30px;
}
#loworhi{
    border: 1px solid black;
    width: 100%;
    height: 60px;
    text-align: center;
}
#start{
    text-align: center;
    text-shadow: 1px 1px 5px 2px black;
}